.Button {
	color: var(--background-text);
	background: none;
	border: 1px solid white;
	font-family: inherit;
	font-size: 1.1em;
	padding: .5em .75em;
}

.Button--type-primary {
	color: var(--primary-1);
	border-color: var(--primary-1);
}
